@model CST.Security.ChangePasswordModel

@{
    ViewBag.Title = LocalStr.Change +" "+ LocalStr.Password;
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@LocalStr.Change @LocalStr.Password</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Login)
        </div>
        <div class="editor-field">
            @Html.DispAndHiddenFor(model => model.Login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OldPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <div class="editor-label">
            <input type="submit" value="@LocalStr.Change @LocalStr.Password" id="btnSubmit" />
        </div>

    </fieldset>
}

@{ Html.Telerik().PanelBar()
        .Name("PanelBar")
        .HtmlAttributes(new { style = "width: 500px" })
        .Items(parent =>
        {
            parent.Add()
                .Text(@LocalStr.PasswordPolicy)
                .LoadContentFrom("PasswordSettings", "Account")
                .Expanded(false);
        })
        .Render();
}

@{Html.Telerik().ScriptRegistrar()
.DefaultGroup(group => group
    .Add("~/Scripts/jquery.validate.min.js")
    .Add("~/Scripts/jquery.validate.unobtrusive.min.js")
    .Add("~/Scripts/jquery.password-strength.js"))
.OnDocumentReady(@<text>

    var myPlugin = $("#@Html.IdFor(m => m.NewPassword)")
        .password_strength("@Url.Action("_PasswordPolicy", "Account")");

</text>);}
