@model CST.Security.PasswordSettings

@*<div id="dlgPasswordSettings" title="Password Settings">*@
    
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <th>
            @Html.LabelFor(model => model.MinLength)
            </th>
            <td>
            @Html.DispAndHiddenFor(model => model.MinLength)
            </td>
        </tr>
        <tr>
            <th>
            @Html.LabelFor(model => model.MaxLength)
            </th>
            <td>
            @Html.DispAndHiddenFor(model => model.MaxLength)
            </td>
        </tr>
        <tr>
            <th>
            @Html.LabelFor(model => model.NumsLength)
            </th>
            <td>
            @Html.DispAndHiddenFor(model => model.NumsLength)
            </td>
        </tr>
        <tr>
            <th>
            @Html.LabelFor(model => model.UpperLength)
            </th>
            <td>
            @Html.DispAndHiddenFor(model => model.UpperLength)
            </td>
        </tr>
        <tr>
            <th>
            @Html.LabelFor(model => model.SpecialLength)
            </th>
            <td>
            @Html.DispAndHiddenFor(model => model.SpecialLength)
            </td>
        </tr>
        <tr>
            <th>
            @Html.LabelFor(model => model.SpecialChars)
            </th>
            <td>
            @Html.DispAndHiddenFor(model => model.SpecialChars)
            </td>
        </tr>
    </table>
